*.zip
.*checkpoints/
*.virtual_documents/
data/
gnet/
NN.ipynb
mapper.ipynb
mappy.py
CanOTuna.db
export.ipynb
model.pt
loss_*
savings*
galaxynet
artifacts.py
artifacts/
__pycache__/
model_optim_50.pt
